@model Inmobiliaria_.Net_Core.Models.Contrato
@{
    ViewData["Title"] = "Crear Contrato";    
}
<h2>Editar Contrato</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
    <label class="control-label" for="Inquilino">Inquilino</label>
    <select id="Inquilino" class="form-control" name="IdInquilino" required>
        @if (Model?.IdInquilino > 0)
        {
            <option value="@Model.IdInquilino" selected>
                @Model.Inquilino?.Nombre @Model.Inquilino?.Apellido
            </option>
        }
    </select>
    </div>
    <div class="form-group">
    <label class="control-label" for="Inmueble">Inmueble</label>
    <select id="Inmueble" class="form-control" name="IdInmueble" required>
        @if (Model?.IdInmueble > 0)
        {
            <option value="@Model.IdInmueble" selected>
                @Model.Inmueble?.Direccion
            </option>
        }
    </select>  
    </div>  
    <div class="form-group">
        <label for="MontoMensual">Monto Mensual</label>
        <input type="number" class="form-control" id="MontoMensual" name="MontoMensual" value="@Model.MontoMensual" step="0.01" required />
    </div>
    <div class="form-group">
        <label for="FechaInicio">Fecha Inicio</label>
        <input type="date" class="form-control" id="FechaInicio" name="FechaInicio" value="@Model.FechaInicio.ToString("yyyy-MM-dd")" required />
    </div>
    <div class="form-group">
        <label for="FechaFin">Fecha Fin</label>
        <input type="date" class="form-control" id="FechaFin" name="FechaFin" value="@Model.FechaFin.ToString("yyyy-MM-dd")" required />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Inquilino').select2({
                language: "es",
                theme: 'bootstrap',  
                placeholder: "Buscar inquilino...",
                minimumInputLength: 3,
                maximumInputLength: 10, 
                ajax: {
                    delay: 250,
                    dataType: "json",
                    cache: true, 
                    url: function (params) {
                        let q = params.term ? encodeURIComponent(params.term) : "";
                        return `/Inquilino/Buscar/${q}`;
                    },
                    processResults: function (res) {
                        return {
                            results: res.results 
                        };
                    }
                }
            });
        });
        $(document).ready(function () {
            $('#Inmueble').select2({
                language: "es",
                theme: 'bootstrap',  
                placeholder: "Buscar inmueble...",
                minimumInputLength: 3, 
                maximumInputLength: 10, 
                ajax: {
                    delay: 250,
                    dataType: "json",
                    cache: true, 
                    url: function (params) {
                        let q = params.term ? encodeURIComponent(params.term) : "";
                        return `/Inmueble/Buscar/${q}`;
                    },
                    processResults: function (res) {
                        return {
                            results: res.results 
                        };
                    }
                }
            });
        });        
    </script>
}