@model IEnumerable<Inmobiliaria_.Net_Core.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
    var Pagina = ViewBag.Pagina ?? 1;
    var TotalPaginas = ViewBag.TotalPaginas ?? 1;
}

<h1>
    Propietarios
    <div class="btn-group pull-right">
        <a class="btn btn-primary" asp-action="Create" title="Crear">Agregar Nuevo</a>
    </div>
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdPropietario</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Dni</td>
                <td>@item.Telefono</td>
                <td>@item.Direccion</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdPropietario" title="Editar">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPropietario" title="Eliminar">Eliminar</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdPropietario" title="Detalles">Detalles</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- Botón "Anterior" -->
        @if (Pagina > 1)
        {
            <li class="page-item">
                <a class="page-link" href="~/Propietarios/Lista?pagina=@(Pagina - 1)" aria-label="Anterior">Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
        }

        <!-- Números de página -->
        @for (int i = 1; i <= TotalPaginas; i++)
        {
            <li class="page-item @(i == Pagina ? "active" : "")">
                <a class="page-link" href="~/Propietarios/Lista?pagina=@i">@i</a>
            </li>
        }

        <!-- Botón "Siguiente" -->
        @if (Pagina < TotalPaginas)
        {
            <li class="page-item">
                <a class="page-link" href="~/Propietarios/Lista?pagina=@(Pagina + 1)" aria-label="Siguiente">Siguiente</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Siguiente</span>
            </li>
        }
    </ul>
</nav>